* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Rubik', sans-serif;
  /* margin: 0px;
  padding: 0px; */ /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
}
@keyframes shakeBannerLeft {
  33% {
      transform: rotate(5deg);
  }
  60% {
      transform: rotate(-5deg);
  }
  100% {
      transform: rotate(0deg);
  }
}
a{
  text-decoration: none;
  display: inline-block;
}
.body_cellphones{
  background-image: url("./img/Background.webp");
  padding-left: unset!important;
  height: auto;
}
.body_cellphones_dienthoai{
  height: auto;
}
